.Heading {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    box-sizing: border-box;
    inline-size: max-content;
    block-size: max-content;
    writing-mode: horizontal-tb; 
}

.title {
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-sub-title {
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-body {
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
}